<html>
  <head>
    <title>Missive Weaver</title>
  </head>
  <body>
    <h2>Missive Weaver Home Page</h2>
   <h3>Overview</h3>
   <p>When complete, will dynamically navigate a GitHub repo and render as a Massive Wiki</p>
    <ul>
      <li>Status: partly complete, navigates a GitHub repo</li>
      <li>To-do: render Markdown files, add CSS+HTML styling</li>
      <li>Run with: <code>source env.sh ; flask run</code></li>
    </ul>
   <h3>Links</h3>
    <ul>
      <li>/wiki/&lt;user&gt;/&lt;repo&gt;/&lt;path&gt;</li>
      <ul>
	<li>example: <a href="/wiki/massive-wiki/massive-sandbox/">/wiki/massive-wiki/massive-sandbox/</a></li>
      </ul>
      <li><a href="/admin">/admin</a></li>
    </li>
  </body>
</html>
